body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main_div{
  width: 100%;
  height: 100vh;
  background:#6b6b6b;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
text-align: center;
}

.center_div{
width: 25%;
height: 80vh;
background-color: #f4f4f4;
box-shadow:5px 5px 25px -5px rgba(0, 0, 0, 0.5);
border-radius: 15px;
overflow-y: auto;
}

h1{
  color: rgb(6, 1, 1);
  background: transparent;
  background-color: #f7f71f;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #f7f71f;
  outline: none;
}
button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #f7f71f;
  color: #070101;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left:10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);

}
button:hover{
  background-color: #37fc30;

}
ol{
  margin-top:30px;

}
ol li{
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items:center;
  color: #060603;
  text-transform: capitalize;
}

/* ... Your existing CSS ... */

.todo_style {
  display: flex;
  align-items: center; /* Center items vertically within the flex container */
  margin-left: auto; /* Push the items to the right within the flex container */
}

.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fc3b10;
  border-radius: 50%;
  margin-right: 10px; /* Adjust the margin for spacing */
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.todo_style .fa-times:hover {
  background-color: rgb(14, 243, 18);
}

.todo_style .list_style { /* There is a typo in your code, it should be .list_style instead of .todo_style .fa-times.fa-times:hover .list_style */
  color: rgb(10, 5, 6);
}

/* ... Rest of your CSS ... */

@media (max-width:768px){
  .center_div{
    width:55%;
  }

  .todo_style .fa-times{
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button {
    margin-left: 5px;
    min-height: 40px;
    width:40px;
    color: #fff;
    font-size: 30px;
  }
}






















@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #f7f71f;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #f7f71f !important;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #060603;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:##060603;
}
#footer a {
    color: #060603;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#060603;
}
#footer ul.social li a:hover{
  color:#060603;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}